body{
    font-family: Arial, sans-serif;
    background-color: #f5f5dc;
    color: #333333;
    width: 90%;
    max-width: 900px;
    line-height: 1.6;
    margin: 0 auto;
    text-align: center;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', serif;

}
a {
    color: #b08b4f;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #333333;
}
.validator {
    display: inline-block;
    border-radius: 8px;
    padding: 0.25em 0.5em;
}
.validator:hover, .validator:focus {
    background-color: #737373;
    color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}
