body{
    font-family: Arial, sans-serif;
    background-color: #f5f5dc;
    color: #333333;
    width: 90%;
    max-width: 900px;
    line-height: 1.6;
    margin: 0 auto;
    text-align: center;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', serif;
    text-align: center;
    

}
a {
    color: #b08b4f;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #333333;
}

ul {
    text-align: left;
    display: inline-flex;
    margin: 3px;
    width: 80%;

}




