<nav aria-label="Footer">
    <p class="footer-links">
        <a href="./itis3135.html" rel="itis3135-floder">ITIS3135</a> 💠
        <a href="https://github.com/CLag23" target="_blank" rel="github-link">GitHub.com</a> 💠
        <a href="https://webpages.charlotte.edu/claguerr" target="_blank" rel="charlotte-web"> CLT Web</a> 💠
        <a href=" http://CLag23.github.io/" target="_blank" rel="githubio-link">GitHub.io</a> 💠
        <a href="https://www.linkedin.com/in/carlslaguerre/" target="_blank" rel="linkedin-link">LinkedIn</a> 
    </p>
</nav>
<p>Designed by <a class="design-by" href="./carlsenterprise.site/index.html" target="_blank">carlsenterprise</a> &copy; 2025</p>