<h1>Carls Laguerre Cosmic Lynx 💠 ITIS3135</h1>
        <p><em><strong>Eyes of the future</strong></em></p>
        <nav aria-label="header-links">
            <a href="./itis3135.html" rel="home-link">Home</a> 💠
            <a href="./introduction.html"  rel="introduction-link">Introduction</a> 💠
            <a href="./contract.html" rel="contract-link">Contract</a> 💠
            
        </nav>
        <nav class="sub-nav">
            <a href="./cosmiclynx/index.html" rel="about-link" target="_blank">About Page</a> 💠 
            <a href="/itis3135/stuff/STUFFPAGE!!.htm" rel="CRAAPY-page" target="_blank">Crappy Page</a>   
        </nav>
        
