<header>
    <h1>Carls Laguerre Cosmic Lynx 💠 ITIS3135</h1>
            <p><em><strong>Eyes of the future</strong></em></p>
            <nav>
                <a href="./index.html" rel="home-link">Home</a> 💠
                <a href="./introduction.html"  rel="introduction-link">Introduction</a> 💠
                <a href="./contract.html" rel="contract-link">Contract</a> 💠
                <a href="./website_evaluations.html" rel="evaluations">Website Evaluations</a> 💠
                <a href="./fccfsjs_outline.html" rel="fccfsjs_outline">JavaScript Curriculum Agreement</a> 💠
                <a href="./intro_form.html" rel="introduction form">Introduction Form</a> 💠
                <a href="./review1.html" rel="review1">review1</a> 💠
                <a href="./review2.html" rel="review1">review2</a> 
            </nav>
            <nav class="sub-nav">
                <a href="./cosmiclynx/index.html" rel="about-link" target="_blank">About Page</a> 💠
                <a href="./stuff/STUFFPAGE.htm" rel="crappy page" target="_blank">CRAPPY Page</a> 💠
                <a href="./hobby/index.html" rel="hobby page" target="_blank">Hobby</a> 💠
                <a href="./projects/client-project/project_overview.html" rel="project overview link" target="_blank">Client Project</a> 💠
                <a href="./projects/client-project/login.html" rel="react" target="_blank">Learn Python</a>

                 
                
            </nav>
</header>       
