<header>
    <h1>Carls Laguerre Cosmic Lynx 💠 ITIS3135</h1>
            <p><em><strong>Eyes of the future</strong></em></p>
            <nav aria-label="header-links">
                <a href="./itis3135.html" rel="home-link">Home</a> 💠
                <a href="./introduction.html"  rel="introduction-link">Introduction</a> 💠
                <a href="./contract.html" rel="contract-link">Contract</a> 💠
                <a href="./website_evaluations.html" rel="evaluations">Website Evaluations</a> 💠
                 <a href="./fccfsjs_outline.html" rel="fccfsjs_outline">JavaScript Curriculum Agreement</a> 💠 
                
            </nav>
            <nav class="sub-nav">
                <a href="./cosmiclynx/index.html" rel="about-link" target="_blank">About Page</a> 
                
            </nav>
</header>       
